.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post_body > img {
  width: 100%;
  height: auto;
  max-width: 425px;

  border-radius: 20px;
}

.post_body {
  flex: 1;
  padding: 10px;
}

.post_avatar {
  padding: 20px;
}

.post_headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post_badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

#chat:hover {
  color: var(--twitter-color);
  transition: color 100ms ease-out;
  cursor: pointer;
}

#retweet:hover {
  color: green;
  transition: color 100ms ease-out;
  cursor: pointer;
}

#favorite:hover {
  color: var(--twitter-color);
  transition: color 100ms ease-out;
  cursor: pointer;
}

#publish:hover {
  color: blue;
  transition: color 100ms ease-out;
  cursor: pointer;
}

.post_headerSpecial {
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.post_headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}
